NEO4J_URI=
NEO4J_USERNAME=
NEO4J_PASSWORD=
AURA_INSTANCEID=
AURA_INSTANCENAME=

NODE_ENV=

EMAIL_ADDRESS=
EMAIL_PASSWORD=

APP_URL=

AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

AUTH_GOOGLE_SECRET=
AUTH_GOOGLE_ID=
AUTH_TRUST_HOST=

CRON_SECRET=