NEO4J_URI=
NEO4J_USERNAME=
NEO4J_PASSWORD=
AURA_INSTANCEID=
AURA_INSTANCENAME=

NODE_ENV=

EMAIL_REFRESH_TOKEN=
EMAIL_ADDRESS=

APP_URL=

AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

AUTH_GOOGLE_SECRET=
AUTH_GOOGLE_ID=