.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.moves-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: calc(v.$square-size * 8);
}