$square-size: 80px;
$dark-color: #495057;
$light-color: #DEE2E6;

.square {
    width: $square-size;
    height: $square-size;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
}

.dark {
    @extend .square;
    background: $dark-color;
}

.light {
    @extend .square;
    background: $light-color;
}

.selected {
    border: 2px solid greenyellow;
}

.legalmove {
    border: 2px solid green;
}

.infobar {
    display: flex;
    justify-content: space-between;
}

.pointer {
    cursor: pointer;
}

.board {
    width: $square-size * 8;
    height: $square-size * 8;
}

.row {
    display: flex;
    height: $square-size;
    width: $square-size * 8;
}
