.square {
    width: 12.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
}

.dark {
    @extend .square;
    background: v.$palette-6;
}

.light {
    @extend .square;
    background: v.$palette-2;
}

.selected {
    background: v.$secondary-dark;
}

.legal-light-move {
   background: radial-gradient(v.$secondary-light 10%, v.$palette-2 33%);

   &:hover {
        background: v.$secondary-light;
   }
}

.legal-dark-move {
    background: radial-gradient(v.$secondary-light 10%, v.$palette-6 33%);
    
    &:hover {
        background: v.$secondary-light;
    }
}

.under-attack-light {
    background: radial-gradient(v.$palette-2 0%, v.$palette-2 79%, v.$secondary-lighter 80%);

    &:hover {
        background: v.$secondary-lighter;
    }
}

.under-attack-dark {
    background: radial-gradient(v.$palette-6 0%, v.$palette-6 79%, v.$secondary-lighter 80%);

    &:hover {
        background: v.$secondary-lighter;
    }
}

.pointer {
    cursor: pointer;
}

.board {
    width: v.$square-size * 8;
    height: v.$square-size * 8;
}

.row {
    display: flex;
    height: v.$square-size;
    width: v.$square-size * 8;
}

.sidebar-scroll-wrapper {
    width: v.$square-size * 4;
    height: v.$square-size * 8;
    background: v.$palette-7;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 1rem;

    scrollbar-gutter: stable;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
    }

    scrollbar-width: thin;
    scrollbar-color: darken(v.$palette-7, 10%) lighten(v.$palette-7, 5%);
}

.sidebar {
    width: v.$square-size * 4;
}

.move-pair {
    display: flex;
    flex-wrap: wrap;
}

.move {
    width: v.$square-size * 1.75;
    height: 20px;
    text-align: center;
    cursor: pointer;
    padding: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    color: v.$palette-4;
    border-bottom: 1px solid v.$palette-6;
    border-right: 1px solid v.$palette-6;

    &:hover {
        background: v.$palette-6;
    }
}

.move-number {
    width: calc(v.$square-size / 2);
    background: v.$palette-5;
    border-right: 1px solid v.$palette-4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: v.$palette-1;
}