@use "sass:color";
@use "@/styles/variables" as v;

%centered-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

%move {
    @extend %centered-flex;

    width: calc(#{v.$square-size} * 1.75);
    height: 20px;
    padding: 1rem;
    text-align: center;
    position: relative;
    cursor: pointer;
    color: v.$palette-4;
    border-bottom: 1px solid v.$palette-6;
    border-right: 1px solid v.$palette-6;

    &:hover {
        background: v.$palette-6;
    }
}

%repertoire-element-base {
    display: flex;
    align-items: center;
    height: 10vh;
    font-size: 2rem;
    color: v.$palette-3;
    background: v.$palette-6;
    border-bottom: 1px solid v.$palette-5;
    user-select: none;
    position: relative;

    &:hover {
        background: v.$palette-5;
    }

    &:last-child {
        border: none;
    }
}

%single-window-page {
    width: 30vw;
    height: 80vh;
    border-radius: 5px;
    background: v.$palette-7;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
    }

    scrollbar-width: thin;
    scrollbar-color: color.adjust(v.$palette-7, $lightness: -10%)
        color.adjust(v.$palette-7, $lightness: 5%);
}

%page-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

%title {
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
    color: v.$palette-2;
}
