$palette-0: #f8f9fa;
$palette-1: #e9ecef;
$palette-2: #dee2e6;
$palette-3: #ced4da;
$palette-4: #adb5bd;
$palette-5: #6c757d;
$palette-6: #495057;
$palette-7: #343a40;
$palette-8: #212529;
$square-size: min(90px, max(5.2vw, 40px));
$secondary-dark: #305e55;
$secondary-light: #4a9184;
$secondary-lighter: #5fafa1;
$error-red: rgb(219 104 104);
