@use "sass:color";
@use "@/styles/variables" as v;
@use "@/styles/utils" as *;

.no-repertoires {
    color: v.$palette-4;
    padding: 1rem;
    text-align: center;
}

.public-repertoire {
    display: flex;
}

.list-element {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    text-align: center;
    width: 100%;
    background: v.$palette-6;
    cursor: pointer;
    color: v.$palette-2;

    &:hover {
        background: v.$palette-5;
    }
}

.list-name {
    width: 50%;
}

.list-owner-50 {
    width: 50%;
}

.list-owner-30 {
    width: 30%;
}

.list-accessMode {
    width: 20%;
}

.link {
    all: unset;
    cursor: pointer;
}

.window-container {
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    user-select: none;

    @media (width <= 768px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        height: auto;
        padding: 1rem 0;
    }
}
