$palette-0: #F8F9FA;
$palette-1: #E9ECEF;
$palette-2: #DEE2E6;
$palette-3: #CED4DA;
$palette-4: #ADB5BD;
$palette-5: #6C757D;
$palette-6: #495057;
$palette-7: #343A40;
$palette-8: #212529;

$square-size: 80px;

$secondary-dark: #305e55;
$secondary-light: #4a9184;
$secondary-lighter: #5fafa1;