@use "@/styles/variables" as v;

.mode-choice {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.mode {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 70vh;
    padding: 1rem;
    background: v.$palette-6;
    color: v.$palette-2;
    border: 1px solid v.$palette-7;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background: v.$palette-5;
    }
}

.mode-title {
    text-align: center;
    width: 100%;
    font-size: 1.7rem;
    user-select: none;
}

.icon {
    position: relative;
    margin: auto;
    width: 60%;
    aspect-ratio: 1 / 1;
}

@media (width <= 1200px) {
    .mode {
        width: 40vw;
        height: 60vh;
    }
}

@media (width <= 768px) {
    .mode-choice {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mode {
        width: 80vw;
        height: auto;
        margin: 1rem 0;
    }

    .mode-title {
        font-size: 1.5rem;
    }

    .icon {
        width: 70%;
    }
}
