@use "sass:color";
@use "src/styles/utils" as *;
@use "@/styles/variables" as v;

.tree-navigator {
    height: calc(v.$square-size * 0.5);
    width: calc(v.$square-size * 4);
    display: flex;
}

.arrow {
    @extend %centered-flex;

    cursor: pointer;
    width: 50%;
    height: calc(v.$square-size * 0.5);
    background: v.$palette-6;

    &:hover {
        background: v.$palette-5;
    }
}
