@use "@/styles/variables" as v;

.container {
    background: v.$palette-7;
    border-radius: 5px;
    width: calc(v.$square-size * 4);
    font-family: monospace;
}

.header {
    border-bottom: 2px solid v.$palette-6;
    text-align: center;
    font-weight: bold;
    font-size: calc(v.$square-size * 0.25); // smaller, readable
    padding: calc(v.$square-size * 0.1);
    color: v.$palette-2;
}

.option {
    text-align: center;
    padding: calc(v.$square-size * 0.15);
    font-size: calc(v.$square-size * 0.2); // smaller, readable
    border-bottom: 1px solid v.$palette-6;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: v.$palette-2;

    &:last-of-type {
        border-bottom: none;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    &:hover {
        background: v.$palette-5;
    }
}

.selected-option {
    background: v.$palette-6 !important;
    cursor: default;
}

.spaced-amount {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: calc(v.$square-size * 0.4);
    height: calc(v.$square-size * 0.4);
    border: 2px solid v.$secondary-dark;
    background: v.$secondary-light;
    color: v.$palette-1;
    margin-left: calc(v.$square-size * 0.15);
    font-size: calc(v.$square-size * 0.15); // smaller, readable
}

.flex {
    display: flex;
    flex-direction: column;
    gap: calc(v.$square-size * 0.15);
}
