@use "@/styles/variables" as v;

.container {
    margin-top: calc(v.$square-size * 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: calc(v.$square-size * 0.25);
    background: v.$palette-7;
    border-radius: 5px;
    width: calc(v.$square-size * 4);
    user-select: none;
}

.whose-turn {
    font-weight: bold;
    font-size: calc(v.$square-size * 0.25);
    margin-bottom: calc(v.$square-size * 0.2);
    color: v.$palette-2;
}

.feedback {
    font-size: calc(v.$square-size * 0.2);
    margin-bottom: calc(v.$square-size * 0.15);
    text-align: center;
}

.auto-puzzle {
    display: flex;
    gap: calc(v.$square-size * 0.1);
    font-size: calc(v.$square-size * 0.2);
}

.next {
    border: 1px solid v.$palette-6;
    border-radius: 5px;
    padding: calc(v.$square-size * 0.15);
    font-size: calc(v.$square-size * 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(v.$square-size * 0.1);
    cursor: pointer;
    margin-top: calc(v.$square-size * 0.1);

    &:hover {
        background: v.$palette-5;
    }
}
