@use "src/styles/utils" as *;
@use "@/styles/variables" as v;

.popularity-settings {
    width: 100%;
}

.settings-line-header {
    text-align: center;
    font-size: calc(v.$square-size * 0.16);
    padding: calc(v.$square-size * 0.06) 0 calc(v.$square-size * 0.02);
}

.popularity-settings-options {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: calc(v.$square-size * 0.04) calc(v.$square-size * 0.06);
}

.svg-container {
    @extend %centered-flex;

    padding: calc(v.$square-size * 0.04);
    border: 1px solid v.$palette-6;
    cursor: pointer;

    svg {
        font-size: calc(v.$square-size * 0.3);
    }
}

.rating-container {
    @extend %centered-flex;

    padding: calc(v.$square-size * 0.04);
    border: 1px solid v.$palette-6;
    cursor: pointer;
    width: 20%;
    text-align: center;
    margin: calc(v.$square-size * 0.02);
}

.rating-option {
    font-size: calc(v.$square-size * 0.16);
}

.time-control-active {
    background-color: v.$palette-6;
}

.info {
    font-size: calc(v.$square-size * 0.16);
    color: v.$palette-4;
    text-align: center;
    margin: calc(v.$square-size * 0.04) 0;
    padding: calc(v.$square-size * 0.04);
}
