@use "src/styles/utils" as *;
@use "@/styles/variables" as v;

.move-popularity {
    @extend %centered-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: v.$palette-7;
    margin-right: calc(v.$square-size * 0.15);
    width: calc(v.$square-size * 3);
    margin-top: calc(v.$square-size * 0.2);
    border-radius: calc(v.$square-size * 0.125);
    overflow: hidden;
}

.db-options {
    @extend %centered-flex;
    flex-direction: row;
    width: 100%;
    border-bottom: calc(v.$square-size * 0.04) solid v.$palette-6;
}

.db-option {
    text-align: center;
    width: 100%;
    font-size: calc(v.$square-size * 0.24);

    padding: calc(v.$square-size * 0.04);
    cursor: pointer;
}

.active-db-option {
    background: v.$palette-6;
    position: relative;
}

.toggle-settings {
    position: absolute;
    right: calc(v.$square-size * 0.05);
    top: calc(v.$square-size * 0.1);
    font-size: calc(v.$square-size * 0.24);
}

.popular-moves-title {
    text-align: center;
    font-size: calc(v.$square-size * 0.24);
    color: v.$palette-1;
    padding: calc(v.$square-size * 0.04) 0 0;
    width: 100%;
}

.opening-name {
    padding: 0 0 calc(v.$square-size * 0.2);
    height: calc(v.$square-size * 0.4);
    font-size: calc(v.$square-size * 0.14);
    width: 100%;
    border-bottom: calc(v.$square-size * 0.04) solid v.$palette-6;
    text-align: center;
}

.popular-moves-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.no-move-info {
    color: v.$palette-2;
    text-align: center;
    font-size: calc(v.$square-size * 0.16);
    padding: calc(v.$square-size * 0.1);
}
