@use "src/styles/utils" as *;
@use "@/styles/variables" as v;

.move-popularity {
    @extend %centered-flex;

    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    background: v.$palette-7;
    margin-right: 0.75rem;
    width: calc(#{v.$square-size} * 3);
    margin-top: 1rem;
    border-radius: 5px;
    overflow: hidden;
}

.db-options {
    @extend %centered-flex;

    flex-direction: row;
    width: 100%;
    border-bottom: 2px solid v.$palette-6;
}

.db-option {
    text-align: center;
    width: 100%;
    padding: 0.2rem;
    cursor: pointer;
}

.active-db-option {
    background: v.$palette-6;
    position: relative;
}

.toggle-settings {
    position: absolute;
    right: 5px;
    font-size: 1.2rem;
}

.popular-moves-title {
    text-align: center;
    font-size: 1.2rem;
    color: v.$palette-1;
    padding: 0.2rem 0 0;
    width: 100%;
}

.opening-name {
    padding: 0 0 1rem;
    height: 2rem;
    font-size: 0.7rem;
    width: 100%;
    border-bottom: 2px solid v.$palette-6;
    text-align: center;
}

.popular-moves-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.no-move-info {
    color: v.$palette-2;
    text-align: center;
    font-size: 0.8rem;
    padding: 0.5rem;
}
