@use "src/styles/utils" as *;
@use "@/styles/variables" as v;

.depth-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: calc(v.$square-size * 0.125);
    width: 100%;
}

.depth-control-btn {
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid v.$palette-6;
    width: calc(v.$square-size * 0.375);
    height: calc(v.$square-size * 0.375);
    font-size: calc(v.$square-size * 0.3125);
    color: v.$palette-4;
    cursor: pointer;
    border-radius: calc(v.$square-size * 0.125);
    overflow: hidden;

    &:hover {
        background: v.$palette-6;
    }
}

.depth-display {
    font-size: calc(v.$square-size * 0.225);
    color: v.$palette-4;
}

.depth-info {
    font-size: calc(v.$square-size * 0.175);
    color: v.$palette-4;
    text-align: center;
    margin-bottom: calc(v.$square-size * 0.05);
}

.depth-title {
    font-size: calc(v.$square-size * 0.24);
}
