@use "src/styles/utils" as *;
@use "@/styles/variables" as v;

.stockfish-lines {
    @extend %centered-flex;

    flex-direction: column;
    background: v.$palette-7;
    margin-right: calc(v.$square-size * 0.15);
    width: calc(v.$square-size * 3);
    border-radius: calc(v.$square-size * 0.125);
}

.stockfish-title {
    text-align: center;
    font-size: calc(v.$square-size * 0.24);
    color: v.$palette-1;
    padding: calc(v.$square-size * 0.1);
    border-bottom: calc(v.$square-size * 0.04) solid v.$palette-6;
    width: 100%;
}

.stockfish-lines-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(v.$square-size * 1.5);
    border-bottom: calc(v.$square-size * 0.04) solid v.$palette-6;
}

.stockfish-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calc(v.$square-size * 0.1);
    width: 100%;
    height: calc(v.$square-size * 0.5);
    border-bottom: calc(v.$square-size * 0.02) solid v.$palette-6;
    cursor: pointer;

    &:last-of-type {
        border-bottom: none;
    }

    &:hover {
        background: v.$palette-6;
    }
}

.stockfish-score {
    font-weight: bold;
    color: v.$palette-4;
    font-size: calc(v.$square-size * 0.18);
    width: calc(v.$square-size * 0.8);
}

.stockfish-move {
    font-family: monospace;
    color: v.$palette-3;
    font-size: calc(v.$square-size * 0.2);
    text-align: center;
}
